################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ControlWork/v15/Server/sqlite3
/.vs/ControlWork/v15
/ControlWork/obj/Debug
/.vs/ControlWork/v16
/ControlWork/obj/Release
